/* -- Disable all page scrolling -- */
// html,
// body {
//   height: 100%;
//   overscroll-behavior: none;
//   overflow: hidden;
// }

// #app {
//   position: fixed;
//   top: 0;
//   right: 0;
//   bottom: 1px;
//   left: 0;
//   overflow: hidden;
//   overflow-y: scroll;
// }

/* -- Transition classes -- */
.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-from-right-enter-active,
.slide-from-right-leave-active {
  transition: transform 1.5s ease;
}

.slide-from-right-enter,
.slide-from-right-leave-to {
  transform: translateX(5000px) translateY(2500px);
}

/* -- Global styles -- */
body {
  background-color: #f8ed43;
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}

body.desaturated {
  background-color: #6a766a;
}
