/* -- Disable all page scrolling -- */
// html,
// body {
//   overscroll-behavior: none;
//   overflow: hidden;
// }

// #app {
//   position: fixed;
//   top: 0;
//   right: 0;
//   bottom: 1px;
//   left: 0;
//   overflow: hidden;
//   overflow-y: scroll;
// }

/* -- Global styles -- */
html,
body {
  height: 100%;
}

body {
  background-color: #f8ed43;
  transition: all 3s cubic-bezier(1, 0.5, 0.8, 1);
}

body.desaturated {
  background-color: #6a766a !important;
}
